.expense-backgroundStyle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
}

.expense-modalStyle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    background-color: #fff;
    border-radius: 10px;
    color: black;
}

#expense-headerContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.expense-clientTypeTitle {
    color: #562B82;
    margin-left: 25px;
}

.expense-clientExitIcon {
    font-size: 1.6em;
    margin-right: 25px;
    cursor: pointer;
}

#expense-Container {
    width: 88%;
    margin-left: auto;
    margin-right: auto; 
}

.expense-formCustom {
    text-align: start;
}

.expense-formCustom label {
    font-size: 1.2em;
    margin-bottom: 2.5px;
    cursor: pointer;
}

.expense-formCustom input {
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    padding-left: 15px;
}

input::placeholder {
    padding-left: 5px;
    font-size: 0.9em;
}

.expense-fornsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F6;
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 2px 4px 2px rgb(177, 177, 177);
    padding: 15px 10px;
}

.expense-formIcon {
    width: 8%;
    text-align: center;
    font-size: 2.5em;
}

.expense-inputscontainer {
    width: 90%;
}

.expense-inputSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense-onlyElementArea {
    width: 100%;
}

.expense-standardElementArea {
    width: 49%;
}

.expense-clientFieldArea {
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.expense-roleDropdwon {
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 35px;
}

.expense-treeElementArea {
    width: 32.5%;
}

.expense-fourElementArea {
    width: 24%;
}

.expense-valueContainer {
    display: flex;
}

.expense-reiasValue {
    color: white;
    background: #562B82;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
}

.expense-valueArea {
    width: 100%;
    border-radius:  0 5px 5px 0 !important;
    padding-left: 10px;
    margin-bottom: 10px;
}

.expense-spaceOnTop {
    margin-top: 5.5px;
}

.expense-spaceOnTop2 {
    margin-top: 5.5px;
}

.expense-fieldDescricaoLine {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.expense-fieldDescricaoLine::placeholder {
    padding-top: 5px;
    padding-left: 15px;
}

.expense-buttonPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 30px 0;
}

.expense-saveButton {
    height: 35px;
    width: 140px;
    background: #562B82;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}
