.backgroundStyle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
}

.modalStyle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    color: black;
}

.formTitle {
    color: #562B82;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.formContainer {
    width: 95%;
    margin-left: 20px;
    text-align: start;
}

.formContainer label {
    font-size: 1.2em;
    margin-bottom: 2.5px;
    cursor: pointer;
}

.formContainer input {
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
}

.fieldNameLine {
    width: 100%;
}

.fieldNameLine::placeholder {
    padding-left: 15px;
    font-size: 0.9em;
}

.spaceBetweenFields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.valueContainer {
    display: flex;
    flex-direction: row;
}

.twoElementsArea {
    width: 49%;
}

.elementsArea {
    width: 100% !important;
    border-radius: 0 5px 5px 0 !important;
    padding-left: 10px;
}

.reiasValue {
    color: white;
    background: #562B82;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
}

.dropdowCustom {
    height: 35px;
    width: 100% !important;
    padding-left: 10px;
    border-radius: 5px;
}

.dropdowCustom select {
    display: none;
}

.spaceOnTop {
    margin-top: 10px;
}

.fieldCodigoLine {
 width: 100%;
}

.fieldDescricaoLine {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.fieldDescricaoLine::placeholder {
    padding-top: 5px;
    padding-left: 15px;
}

.buttonPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.saveButton {
    height: 35px;
    width: 140px;
    background: #562B82;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}