#upperBodyInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#upperBodyInfo h1 {
    color: #562B82;
    font-size: 2.2em;
}

#buttonSpace {
    margin-top: 10px;
    display: flex;
    gap: 25px;
}