#inex-bodyContainer {
    height: 65vh;
    width: 88vw;
    margin-top: 50px;
    margin-left: 125px;
    margin-bottom: 50px;
}

.inex-listBackground {
    margin-top: 25px;
    background: #F5F5F6;
    width: 88Vw;
    border-radius: 10px;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.inex-tableContainer {
    display: flex;
    justify-content: center;
}

.inex-listContainer {
    width: 84vw;
    border-radius: 1em;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.inex-listLines {
    background-color: #ffffff;
    height: 35px;
    outline: 1px solid #B2B2B2;
    border-radius: 10px;
}

.inex-checkboxArea {
    width: 4vw;
    text-align: center;
}

.inex-customCheckbox input {
    display: none;
}

.inex-customCheckbox input + label::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: white;
    display: inline-block;
    border: 1px solid gray;
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom: 3px;
    cursor: pointer;
}

.inex-customCheckbox input:checked + label::before {
    background: #562B82;
}

.inex-nameArea {
    width: 23vw;
}

.inex-expirationArea {
    width: 11vw;
    text-align: center;
}

.inex-parcelArea {
    width: 9vw;
    text-align: center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.inex-installmentsPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inex-installmentsContainer {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #DADADA;
}

.dropdown-content {
    margin-top: 2.5px;
    display: none;
    position: absolute;
    left: 110px;
    top: -50px;
    width: 200%;
    background: #F5F5F6;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.dropdown-title {
    padding-top: 15px;
    font-size: 1.1em;
}

.dropdown-installment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.dropdown-installment {
    background: #fff;
    border-radius: 5px;
    width: 85%;
    height: 30px;
    text-align: start;
    box-shadow: 1.5px 2.5px 5px rgb(208, 208, 208);
    margin-bottom: 5px;
}

.dropdown-installment-item {
    padding: 2.5px 0 0 5px;
    font-size: 1em;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.inex-installmentsContainer p {
    padding-top: 3px;
}

.inex-statusArea {
    width: 9vw;
    text-align: center;
    margin-right: 25px;
}

.inex-statusPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inex-statusContainer {
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.inex-statusContainer p {
    padding-top: 3px;
}

.inex-valueArea {
    width: 23vw;
    padding-left: 125px;
}

.inex-opcaoArea {
    width: 10vw;
    text-align: center;
}

.inex-iconsPosition {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 1px;
    gap: 15px;
}

.inex-iconBtnBackground {
    background: none !important;
    border: none !important;
}

.inex-iconBtnBackground:hover {
    background: #562B82 !important;
}

.inex-iconCustom {
    font-size: 1.2em;
    color: #000;
}

.inex-iconCustom:hover {
    font-size: 1.2em;
}