#reports-elements-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 35px;
}

.elements-struct {
 display: flex;
 flex-direction: row;
 align-items: center;   
}

.report-icon {
    width: 85px;
    height: 85px;
    padding-bottom: 15px; 
}

.report-value-info {
    font-size: 24px;
    margin-bottom: 0px;
}