header {
    background: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 1em 3.5em;
}
 
#logo {
    width: 160px;
    cursor: pointer;
}

.userName {
    font-weight: 500;
    font-size: 1.4em;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#userIcon {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    background: #000000;
    border-radius: 100%;
    cursor: pointer;
}

.userName:hover {
    color: #562B82;
}