#deleteButtonSpace {
    display: flex;
    justify-content: flex-end;
}

#deleteButton {
    height: 35px;
    width: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #E61818;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}

#deleteButton:hover {
    background: #c51818;
}