.calendar-container {
    padding: 50px 0;
}

.calendar {
    width: 100%;
}

.weeks {
    display: flex;
    text-align: start;
    flex-wrap: wrap;
    font-weight: 500;
    padding-left: 10px;
}

.weeks p {
    width: calc(100% / 7);
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days p{
    text-align: end;
    font-size: 0.9em;
    border: 0.1px solid #828080;
    height: 200px;
    margin-bottom: 0px;
    padding: 10px 10px 0 0;
    width: calc(100% / 7);
}

.inactive {
    color: #aaa;
}

.active {
    display: flex;
    justify-content: flex-end;
}

.active p {
    color: white;
    background-color: #562B82;
    margin-top: 5px;
    text-align: center;
    height: 20px;
    width: 30px;
    border-radius: 50px;
}